@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="d-flex justify-content-between align-items-center">
    Danh sách phiếu đổi trả
    <button type="button" class="btn btn-primary" id="openModal">Thêm phiếu đổi trả</button>
</h2>
<p></p>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Tìm kiếm" id="searchInput">
    <button class="btn btn-primary" type="button" id="searchButton">
        <i class="fas fa-search"></i> Tìm kiếm
    </button>
</div>
<p></p>
<div class="table-responsive">
    <table class="table table-bordered table-vcenter table-hover table-normap table-input">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Số phiếu đổi trả</th>
                <th class="text-center">Ngày lập</th>
                <th class="text-center">Ngày giao</th>
                <th class="text-center">ID nhân viên</th>
                <th class="text-center">Tên nhà cung cấp</th>
                <th class="text-center">Số điện thoại</th>
                <th class="text-center">Tổng tiền</th>
                <th class="text-center">Ghi chú</th>
                <th class="text-center">ID sản phẩm</th>
                <th class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm phiếu đổi trả</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form id="formModal">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">ID</label>
                        <input type="text" class="form-control" id="inputID" placeholder="Nhập id" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Số phiếu đổi trả</label>
                        <input type="text" class="form-control" id="inputSP" placeholder="Nhập số phiếu đổi trả" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Ngày lập</label>
                        <input type="text" class="form-control" id="inputNL" placeholder="Nhập ngày lập" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Ngày giao</label>
                        <input type="text" class="form-control" id="inputNG" placeholder="Nhập ngày giao" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">ID nhân viên</label>
                        <input type="text" class="form-control" id="inputIDNV" placeholder="Nhập id nhân viên" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Tên nhà cung cấp</label>
                        <input type="text" class="form-control" id="inputTen" placeholder="Nhập tên nhà cung cấp" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="inputSDT" placeholder="Nhập số điện thoại" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Tổng tiền</label>
                        <input type="text" class="form-control" id="inputTT" placeholder="Nhập tổng tiền" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Ghi chú</label>
                        <input type="text" class="form-control" id="inputGC" placeholder="Nhập ghi chú" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">ID sản phẩm</label>
                        <input type="text" class="form-control" id="inputIDSP" placeholder="Nhập id sản phẩm" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary" id="submitForm">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
        $('#openModal').click(function() {
            $('#staticBackdrop').modal('show');
        });
    });
</script>
