@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="d-flex justify-content-between align-items-center">
    Danh sách loại sản phẩm
    <button type="button" class="btn btn-primary" id="openModal">Thêm loại sản phẩm</button>
</h2>
<p></p>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Tìm kiếm" id="searchInput">
    <button class="btn btn-primary" type="button" id="searchButton">
        <i class="fas fa-search"></i> Tìm kiếm
    </button>
</div>
<p></p>
<div class="table-responsive">
    <table class="table table-bordered table-vcenter table-hover table-normap table-input" id="data-table">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Mã loại sản phẩm</th>
                <th class="text-center">Tên loại sản phẩm</th>
                <th class="text-center">Phần trăm lợi nhuận (%)</th>
                <th class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm loại sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form id="formModal">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">ID</label>
                        <input type="text" class="form-control" id="inputID" placeholder="Nhập id" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Mã loại sản phẩm</label>
                        <input type="text" class="form-control" id="inputMa" placeholder="Nhập mã loại sản phẩm" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Tên loại sản phẩm</label>
                        <input type="text" class="form-control" id="inputTen" placeholder="Nhập tên loại sản phẩm" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Phần trăm lợi nhuận</label>
                        <input type="text" class="form-control" id="inputLN" placeholder="Nhập phần trăm lợi nhuận" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
        $('#openModal').click(function() {
            $('#staticBackdrop').modal('show');
        });

        const apiReadUrl = "https://localhost:7038/Api/Category/Read";
        const apiModifyUrl = "https://localhost:7038/Api/Category/Modify";
        const apiDeleteUrl = "https://localhost:7038/Api/Category/Delete";

        // Show data
        function displayData(data) {
            const tbody = $("#data-table tbody");
            tbody.empty();
            data.forEach(item => {
                console.log(item);
                tbody.append(`
                                        <tr>
                                            <td class="text-center">${item.id}</td>
                                            <td class="text-center">${item.maloaisanpham}</td>
                                            <td class="text-center">${item.tenloaisanpham}</td>
                                            <td class="text-center">${item.phantramloinhuan}</td>
                                            <td class="text-center"><button class="Delete" data-id="${item.id}">Xóa</button></td>
                                        </tr>
                                        `);
            });
        }

        // Get data
        function getData() {
            $.ajax({
                url: apiReadUrl,
                method: "POST",
                success: function (data) {
                    console.log(data);
                    displayData(data);
                },
                error: function (error) {
                    console.error("Lỗi 500", error);
                }
            });
        }

        // Add data
        $("#formModal").on("submit", function (event) {
            event.preventDefault(); // Ngăn chặn reload trang
            const newProduct = {
                id: $("#inputID").val(),
                maloaisanpham: $('#inputMa').val(),
                tenloaisanpham: $('#inputTen').val(),
                phantramloinhuan: $('#inputLN').val(),
            };

            $.ajax({
                url: apiModifyUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(newProduct),
                success: function (result) {
                    alert('thêm thành công!');
                    getData();
                },
                error: function (xhr, status, error) {
                    alert('Lỗi khi thêm: ' + xhr.responseText);
                }
            });
        });

        // Update data
        $("#formModal").on("submit", function (event) {
            event.preventDefault(); // Ngăn chặn reload trang
            const newProduct = {
                id: $("#inputID").val(),
                maloaisanpham: $('#inputMa').val(),
                tenloaisanpham: $('#inputTen').val(),
                phantramloinhuan: $('#inputLN').val(),
            };

            $.ajax({
                url: apiModifyUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(newProduct),
                success: function (result) {
                    alert('cập nhật thành công!');
                    getData();
                },
                error: function (xhr, status, error) {
                    alert('Lỗi khi cập nhật: ' + xhr.responseText);
                }
            });
        });

        // Delete data
        $(document).on("click", ".Delete", function () {
            const id = $(this).data("id"); // Lấy giá trị của data-id từ nút bấm
            if (confirm(`Bạn có chắc chắn muốn xóa mục với ID ${id}?`)) {
                $.ajax({
                    url: `${apiDeleteUrl}/${id}`, // URL xóa tài nguyên
                    type: 'DELETE',
                    success: function (result) {
                        alert('Mục đã được xóa thành công!');
                        // Cập nhật lại danh sách dữ liệu
                        getData();
                    },
                    error: function (xhr, status, error) {
                        alert('Lỗi khi xóa mục: ' + xhr.responseText);
                    }
                });
            }
        });


        getData();
    });
</script>
